<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Home categorie</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light" >
        <div class="container-fluid" >
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/add">Add categorie</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    
    <!--Main Content-->
    <div class="mt-5">
        <h1 class="text-center" >view categorie</h1>
        <div class="container">
            <!--Add  Button-->
            <div class="my-3">
                <a href="/add"><button type="button" class="btn btn-primary" >Add categorie</button></a>
            </div>
            <table class="table border" >
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Qt</th>
                    <th scope="col">Date_creation</th>
                    <th scope="col">Date_modif</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let categorie of categorie">
                    <td>{{categorie.id}}</td>
                    <td>{{categorie.name}}</td>
                    <td>{{categorie.qt}}</td>
                    <td>{{categorie.datecreation}}</td>
                    <td>{{categorie.datemodif}}</td>
                   
                    <td>
                        <div class="d-inline mx-2">
                            <button class="btn btn-warning"  (click)="updatecategorie(categorie.id)" type="button">update</button>
                        </div>
                        <div class="d-inline">
                          <button class="btn btn-danger"(click)="deletecategorie(categorie.id)" type="button">Dellete</button>
                        </div>
                    </td>
                  </tr>
                 
                </tbody>
              </table>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

<router-outlet></router-outlet>